:root {
	--color1: #005675;
	--color2: #00ABE7;
	--color3: #EAD2AC;
	--color4: #EABA6B;
	--gray: #2d2d2d;
	--light-text: #f0f0db;
	--max-width: 1200px;	
}

* {	
	margin:0;
	box-sizing: border-box;
	font-family: Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT';
	color: var(--gray);
}

.blue-text {
	color: blue;
}

.super-header {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color1);
	height: 50px;	
}

.super-header p {
	color: var(--light-text);
}

.main-container {
	display:flex;
	flex-direction: column;	
	max-width: 1200px;
	min-height: 100vh;
	margin: auto;
	background-color: var(--color3);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 200px;
}

header h1 {
	font-size: clamp(2rem,8vw,7rem);
	color: rgb(0, 0, 0);
	text-shadow: 4px 4px 4px lightblue;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 40px;
}

a {
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--gray);
	font-weight: 800;
	
}

.current-page {
	text-decoration: underline;
}

main {
	flex:1;
	padding: 0 5px;
}

.flex-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 6px;
}

article {	
	border: 5px solid var(--color4);
	border-radius: 10px;
	min-width:180px;
	flex: 20%;
	height: 200px;
	padding: 4px;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.grid-section {
	display: grid;
	grid-template-columns: 33fr 33fr 33fr;
	gap:6px;
}

.grid-article-a {
	grid-column: 1/3;
}

.grid-article-b {
	grid-column: 3;
}

.grid-article-c {
	grid-column: 1;
}

.grid-article-d {
	grid-column: 2/4;
}

footer {
	height: 100px;
}

.success {
	border: 8px solid green;
	h3 {
		color: green;
	}

	button {
		background-color: rgb(180, 241, 180);
	}
}

.warning {
	border: 8px solid red;
	border-radius: 0px !important;
	h3 {
		color: red;
	}

	button {
		background-color: rgb(252, 164, 164);
	}
}

#popup {
	position:fixed;
	top:42%;
	left:40%;
	max-width: 350px;
	border-radius: 8px;
}

#popup-message {
	margin:8px 0;
}



/* iPad eller annan surfplatta */
@media all and (max-width:800px) {
	.super-header {
		display: none;
	}
	
	article {
		flex: 33%;
	}
}

/* SmartPhone */
@media all and (max-width:660px) {
	article {
		flex:100%;
	}
}